# Python Artifacts
python/*/lib/
dist/

# Test Output
.coverage
coverage/
licenses.txt
examples_notebooks/*/data
tests/fixtures/cache
tests/fixtures/*/cache
tests/fixtures/*/output
output/lancedb

# RAG 依赖的 graph 图数据以及这类图数据生成以来的配置文件；
prompts.cp.del
.env.cp.del
settings.yaml.cp.del
# 这是一个用于服务 hanwei rag 的图数据 test demo，包含了图数据的配置文件和图数据本身；
hanweirag-graph-test 


# Random
.DS_Store
*.log*
.venv
venv/
.conda
.tmp

.env
build.zip

.turbo

__pycache__

.pipeline

# Azurite
temp_azurite/
__azurite*.json
__blobstorage*.json
__blobstorage__/

# Getting started example
ragtest/
.ragtest/
.pipelines
.pipeline


# mkdocs
site/

# Docs migration
docsite/
.yarn/
.pnp*

# PyCharm
.idea/  

# Jupyter notebook
.ipynb_checkpoints/
